.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 .button {
    border: none;
 } 

 .body {
      background-image: url("images/background.jpeg");
      background-size: cover;
 }

